@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

:root {
    --special-text: #ff0000;
    --secondary-text: #ff00ff;

    --text: #3f3f3f;
    --text-alt: #00afff;
    --white-hover: #cccccc;

    --main: #070166;
    --secondary: #74073d;

    --button: #75004e;
    --secondary-button: #007928;
    --button-hover: #5a003c;
    --secondary-button-hover: #009130;

    --accent: #ffc800;
    --secondary-accent: #ff3c00;
}

* {
    overflow: hidden;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

.material-symbols-outlined {
    overflow-x: hidden;
    user-select: none;
}

*::selection {
    background-color: rgb(0, 0, 0, .3);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
}

body {
    overflow-y: auto;
}

footer {
    width: 100%;
    max-height: 20rem;
    background-color: #000;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.license-container {
    margin: 3rem 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

#current-year {
    padding: 0 1rem;
    font-weight: 500;
}

.license-img {
    all: unset;
    width: fit-content;
    cursor: pointer;
}

.dev-sign {
    margin: 3rem 5rem;
    font-family: 'Dancing Script', cursive;
}

.ds-by {
    color: transparent;
    background-image: linear-gradient(45deg, var(--secondary-text), var(--text-alt));
    background-clip: text;
    font-size: 1.4rem;
    font-weight: 600;
}

.ds-name {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'VT323', monospace;
}

.hide-slide {
    position: absolute;
    z-index: -2;
    visibility: hidden;
    display: none;
    opacity: 0;
}

#slide-1 {
    background-image: radial-gradient(circle at -25% 0, var(--main), var(--secondary));
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.slide-out {
    animation: slide-out-left .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.landing {
    height: 100%;
    width: 100%;
    user-select: none;
    position: relative;
    z-index: 2;
}

.landing-title {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title p {
    margin: 0;
    text-align: center;
}

.landing-s {
    background-image: linear-gradient(45deg, var(--special-text), var(--secondary-text));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;
    font-size: 10rem;
    font-weight: 600;
    animation: 1s ease-in-out indent-to-left forwards;
}

.landing-n:first-child {
    font-size: 2rem;
    animation: 1s ease-in-out indent-to-right forwards;
}

.landing-n:last-child {
    font-weight: 600;
    font-size: 6rem;
    animation: 1s ease-in-out indent-to-right forwards;
}

@keyframes indent-to-left {
    0% {
        text-indent: 15rem;
    }

    50% {
        text-indent: 0;
    }

    100% {
        text-indent: 2rem;
    }
}

@keyframes indent-to-right {
    0% {
        text-indent: 0;
    }

    50% {
        text-indent: 18rem;
    }

    100% {
        text-indent: 15rem;
    }
}

.particle-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.ptc {
    height: .25rem;
    width: .25rem;
    box-shadow: 0 0 2rem .5rem var(--accent);
    border-radius: 2rem;
    background-color: var(--accent);
    pointer-events: none;
    user-select: none;
    animation: ptc-glow ease-in-out infinite .75s;
}

@keyframes ptc-glow {
    25% {
        box-shadow: 0 0 2.5rem .5rem var(--accent);
    }

    50% {
        box-shadow: 0 0 2rem .5rem var(--accent);
    }

    100% {
        box-shadow: 0 0 2.5rem .5rem var(--accent);
    }
}

/* actioncaller */

.action-caller {
    position: sticky;
    overflow: hidden;
    z-index: 100;
    width: fit-content;
    bottom: 1rem;
    left: 50%;
    padding: .75rem 1rem;
    background-image: radial-gradient(circle at -25% 0, var(--accent), var(--secondary-accent));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 0 .75rem 0 rgba(0, 0, 0, .25);
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    transition: scale .4s ease-in-out, box-shadow .25s ease-in-out;
    animation: bounce-top 1.25s both infinite;
    animation-delay: 1s;
    user-select: none;
}

.action-caller span {
    font-size: 2rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.action-caller:hover {
    scale: 110%;
    animation-play-state: paused;
    box-shadow:
        0 0 .75rem 0 rgba(0, 0, 0, .25),
        0 0 .15rem 0 rgba(0, 0, 0, .5) inset,
        .25rem .25rem .5rem .2rem rgba(0, 0, 0, .25) inset;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-.25rem);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        transform: translateY(-1rem);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateY(-.75rem);
        animation-timing-function: ease-in;
    }

    82% {
        transform: translateY(-.5rem);
        animation-timing-function: ease-in;
    }

    93% {
        transform: translateY(-.25rem);
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.hide-opacity {
    transition: .75s ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* showroom */

.showroom {
    background-color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}

.showroom::after {
    content: '';
    z-index: -1;
    position: fixed;
    filter: blur(5rem);
    background-image: radial-gradient(circle at 100% 100%, #ff006a, transparent 75%);
    height: 100%;
    width: 100%;
    right: -2rem;
    bottom: -2rem;
}

.showroom::before {
    content: '';
    z-index: -1;
    position: fixed;
    filter: blur(5rem);
    background-image: radial-gradient(circle at 75% 0, #0077ff, transparent 75%);
    height: 100%;
    width: 100%;
    left: -2rem;
    bottom: -10rem;
}

.repo-card-container {
    overflow-y: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
    justify-content: center;
    gap: 3rem;
    padding: 8rem;
}

.repo-card {
    color: white;
    background-image: radial-gradient(circle at 50% 100%, var(--accent), var(--secondary));
    box-shadow: 0 0 5rem .25rem rgba(0, 0, 0, .75);
    padding: 2rem;
    border-radius: 1rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 2rem;
}

.repo-card-head {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: .75rem;
    align-items: center;
    justify-content: center;
}

.repo-card-head h1,
.repo-card-head p {
    padding: unset;
    margin: unset;
}

.repo-icon {
    grid-row: 1/3;
    grid-column: 1/2;
    user-select: none;
}

.repo-title {
    grid-row: 1/2;
    grid-column: 2/3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.repo-description {
    grid-row: 2/3;
    grid-column: 2/3;
    text-overflow: ellipsis;
}

.repo-card-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    width: fit-content;
    padding: .75rem;
    gap: .25rem;
    border-radius: 1rem;
    box-shadow:
        .15rem .15rem .25rem 0 rgba(0, 0, 0, .25) inset,
        0 0 .75rem 0 rgba(0, 0, 0, .5) inset;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
    }
    
    .repo-card-link:hover {
        box-shadow:
        .25rem .25rem .25rem 0 rgba(0, 0, 0, .5) inset,
        0 0 .75rem 0 rgba(0, 0, 0, .5) inset;
    }