@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --special-text: #ff0000;
    --secondary-text: #ff00ff;
    --text: #3f3f3f;
    --text-alt: #00afff;
    --main: #070166;
    --secondary: #74073d;
    --button: #75004e;
    --secondary-button: #007928;
    --accent: #ffc800;
    --secondary-accent: #ff3c00;
}

* {
    overflow-x: hidden;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

*::selection {
    background-color: rgb(0, 0, 0, .3);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide-slide {
    position: absolute;
    z-index: -2;
    visibility: hidden;
    display: none;
    opacity: 0;
}

#slide-1 {
    background-image: radial-gradient(circle at -25% 0, var(--main), var(--secondary));
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.landing {
    height: 100%;
    width: 100%;
    user-select: none;
    position: relative;
    z-index: 2;
}

.landing-title {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title p {
    margin: 0;
    text-align: center;
}

.landing-s {
    background-image: linear-gradient(45deg, var(--special-text), var(--secondary-text));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;
    font-size: 10rem;
    font-weight: 600;
    animation: 1s ease-in-out indent-to-left forwards;
    padding: 2rem 0;
    transition: filter ease-in-out .5s;
}

.landing-s:hover {
    cursor: pointer;
    filter: saturate(200%);
}

.landing-n:first-child {
    font-size: 2rem;
    animation: 1s ease-in-out indent-to-right forwards;
}

.landing-n:last-child {
    font-weight: 600;
    font-size: 6rem;
    animation: 1s ease-in-out indent-to-right forwards;
}

@keyframes indent-to-left {
    0% {
        text-indent: 15rem;
    }

    50% {
        text-indent: 0;
    }

    100% {
        text-indent: 2rem;
    }
}

@keyframes indent-to-right {
    0% {
        text-indent: 0;
    }

    50% {
        text-indent: 18rem;
    }

    100% {
        text-indent: 15rem;
    }
}

.particle-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.ptc {
    height: .25rem;
    width: .25rem;
    box-shadow: 0 0 2rem .5rem var(--accent);
    border-radius: 2rem;
    background-color: var(--accent);
    pointer-events: none;
    user-select: none;
    animation: ptc-glow ease-in-out infinite .75s;
}

@keyframes ptc-glow {
    25% {
        box-shadow: 0 0 2.5rem .5rem var(--accent);
    }

    50% {
        box-shadow: 0 0 2rem .5rem var(--accent);
    }

    100% {
        box-shadow: 0 0 2.5rem .5rem var(--accent);
    }
}

.license-container {
    background-color: var(--main);
}

#slide-2 {
    background-image: radial-gradient(circle at -25% 0, var(--main), var(--secondary));
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 .2rem 2rem .2rem rgba(0, 0, 0, .6);
    padding: 2rem 3rem;
    text-align: left;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    user-select: none;
    margin: 5rem;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-content p {
    padding: 0;
    margin: 0;
}

.title-container {
    padding: 3rem 0;
    margin: 0 3rem;
}

.card-title {
    color: var(--text);
    font-size: 3rem;
    font-weight: 800;
}

.card-subtitle {
    background-image: linear-gradient(45deg, var(--special-text), var(--secondary-text));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -.1rem;
}

.card {
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem 1rem rgb(0, 0, 0, .4), 2rem 2rem 0 0 var(--accent), -2rem -2rem 0 0 var(--secondary-accent);
    display: inline-block;
    height: 25rem;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    min-width: 15rem;
    max-width: 20rem;
    text-align: center;
    transition: box-shadow .5s ease-in-out, filter 1s ease-in-out, transform .25s ease-in-out;
    cursor: pointer;
    margin: 5rem;
}

.card:hover {
    box-shadow: 0 0 2rem 2rem rgb(0, 0, 0, .4), -2rem -2rem 0 0 var(--accent), 2rem 2rem 0 0 var(--secondary-accent);
    transform: scale(105%);
}

.card:hover .card-bg {
    filter: blur(5px);
}

.card:hover .card-project {
    color: var(--accent);
    text-shadow: .2rem .2rem 1rem black;
}

.card-img {
    position: relative;
    object-fit: contain;
}

.card-link .card-desc {
    visibility: hidden;
    display: none;
}

.card-link .card-link-hint {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 1s appear ease-in-out forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card-link-hint {
    display: none;
    position: relative;
    top: 25%;
    color: white;
}

.card-link-hint a {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: white;
    color: var(--text);
    width: fit-content;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    transition: color .25s ease-in-out, text-decoration .25s ease-in-out;
    text-decoration: none;
}

.card-link-hint a:active,
.card-link-hint a:hover {
    text-decoration: underline;
    background-color: white;
    color: var(--text-alt);
}

.card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25%;
    background-color: white;
    box-shadow: 0 .2rem 2rem .2rem rgba(0, 0, 0, .6);
    border-radius: 1rem;
    padding: .75rem;
    margin: 1rem;
    letter-spacing: -.1rem;
    animation: 1s appear ease-in-out forwards;
}

.card-desc .project-text {
    background-image: linear-gradient(-45deg, var(--accent), var(--secondary-accent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.75rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.card-bg {
    bottom: -.75rem;
    left: -.75rem;
    right: -.75rem;
    top: -.75rem;
    position: absolute;
    transform-origin: 50% 50%;
    z-index: 0;
    background-color: var(--accent);
}

.card-one .card-bg {
    background: url("/assets/img/gaming.jpg") center/cover no-repeat;
}

.card-two .card-bg {
    background: url("/assets/img/coins.jpg") center/cover no-repeat;
}

.card-three .card-bg {
    background: url("/assets/img/clock.jpg") center/cover no-repeat;
}

/* slide animation */

.slide_top-bottom {
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    z-index: 999;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-18 19:21:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}