@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slackside+One&display=swap');

:root {
    --special-text: #ff0000;
    --secondary-text: #ff00ff;
    --text: #3f3f3f;
    --text-alt: #00afff;
    --main: #070166;
    --secondary: #74073d;
    --button: #75004e;
    --secondary-button: #007928;
    --accent: #ffc800;
    --secondary-accent: #ff3c00;
}

* {
    overflow: hidden;
}

*::selection {
    background-color: rgb(0, 0, 0, .3);
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ui */

.ui {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    z-index: 99;
}

#toggle-scheme {
    user-select: none;
    font-size: 2rem;
    cursor: pointer;
}

#toggle-scheme:not(.icon-light)::before{
    content: 'dark_mode';
}

.icon-light::before {
    content: 'light_mode';
}

/* scroll */

.scroll-tip {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    color: white;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
}

#mouse-scroll .mouse {
    height: 3.6rem;
    width: 2.2rem;
    padding: .2rem;
    border-radius: 5rem;
    transform: none;
    border: .2rem solid white;
}

#mouse-scroll .mouse-in {
    height: .8rem;
    width: .4rem;
    margin: .4rem auto;
    border-radius: 1rem;
    position: relative;
    background-color: white;
    animation: mouse-animated 1.2s ease infinite;
}

@keyframes mouse-animated {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(150%);
    }
}

.mask-container {
    height: 100vh;
    width: 100%;
    background-color: black;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100vh;
    position: absolute;
    z-index: 2;
}

.animate-mask-container {
    animation: 2s move-up ease-in-out forwards;
    animation-delay: 3s;
}

.mask-ready {
    background-color: black;
    animation: 2s spread-text ease-in-out forwards;
    animation-delay: 7s;
    display: inline-flex;
    flex-direction: row;
    gap: 0;
}

.mask-ready span {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 5rem;
    text-transform: uppercase;
    color: transparent;
}

.mask-ready span:nth-child(1) {
    animation: text-1 1s forwards;
    animation-delay: 4.75s;
}

.mask-ready span:nth-child(2) {
    animation: text-2 1s forwards;
    animation-delay: 5s;
}

.mask-ready span:nth-child(3) {
    animation: text-3 1s forwards;
    animation-delay: 5.25s;
}

.mask-ready span:nth-child(4) {
    animation: text-1 1s forwards;
    animation-delay: 5.5s;
}

.mask-ready span:nth-child(5) {
    animation: text-2 1s forwards;
    animation-delay: 5.75s;
}

.mask-ready span:nth-child(6) {
    animation: text-3 1s forwards;
    animation-delay: 6s;
}

.mask-go {
    position: absolute;
    animation: .8s text-show both cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-delay: 8s;
}

.mask-go span {
    background-image: linear-gradient(45deg, var(--accent) 15%, var(--secondary-accent) 45%);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-family: 'Slackside One', italic;
    font-size: 10rem;
}

@keyframes text-1 {
    0% {
        color: initial;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: .8;
    }

    100% {
        color: var(--accent);
        opacity: .4;
    }

}

@keyframes text-2 {
    0% {
        color: initial;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: .8;
    }

    100% {
        color: var(--secondary-accent);
        opacity: .4;
    }
}

@keyframes text-3 {
    0% {
        color: initial;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: .8;
    }

    100% {
        color: var(--text-alt);
        opacity: .4;
    }
}

@keyframes move-up {
    to {
        top: 0;
    }
}

@keyframes spread-text {
    85% {
        opacity: .8;
    }

    100% {
        column-gap: 100rem;
        opacity: 0;
    }
}

.landing-container {
    background-image: radial-gradient(circle at -25% 0, var(--main), var(--secondary));
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.animate-landing-container {
    animation: 2s hide ease-in-out forwards;
    animation-delay: 5s;
}

.landing {
    height: 100vh;
    width: 100%;
    user-select: none;
    position: relative;
    z-index: 2;
}

.landing-title {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title p {
    margin: 0;
    text-align: center;
}

.landing-s {
    background-image: linear-gradient(45deg, var(--special-text), var(--secondary-text), var(--text-alt));
    background-position: 0 0;
    background-size: 120%;
    background-clip: text;
    color: transparent;
    width: fit-content;
    font-size: 10rem;
    font-weight: 600;
    animation: .7s text-show both cubic-bezier(0.215, 0.610, 0.355, 1.000);
    padding: 2rem 0;
    transition: background-position ease-in-out .5s, background-size ease-in-out .5s;
}

.landing-n:first-child {
    font-size: 2rem;
    animation: .7s text-show both cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.landing-n:last-child {
    font-weight: 600;
    font-size: 6rem;
    animation: .7s text-show both cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@keyframes hide {
    to {
        visibility: hidden;
        display: none;
        opacity: 0;
    }
}


@keyframes text-show {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .4;
        transform: scale(115%);
    }

    50% {
        transform: scale(100%);
    }

    75% {
        opacity: .8;
        transform: scale(95%);
    }

    100% {
        opacity: 1;
        transform: initial;
    }
}

.particle-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.ptc {
    height: .25rem;
    width: .25rem;
    box-shadow: 0 0 2rem .5rem var(--accent);
    border-radius: 2rem;
    background-color: var(--accent);
    pointer-events: none;
    user-select: none;
    animation: ptc-glow ease-in-out infinite .75s;
}

@keyframes ptc-glow {
    25% {
        box-shadow: 0 0 2.5rem .5rem var(--accent);
    }

    50% {
        box-shadow: 0 0 2rem .5rem var(--accent);
    }

    100% {
        box-shadow: 0 0 2.5rem .75rem var(--accent);
    }
}

.license-container {
    background-color: var(--main);
}